// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  height: 70vh;
  width: 100%;
}

#footer {
  height: 15vh;
  width: 100%;
  position: relative;;
  bottom: 0;
}
