#player {
  margin: 20px;

  .playerCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: purple;
    width: 300px;
    height: 450px;

    #image {
      position: relative;
      top: 7px;
      width: 285px;
      height: 180px;
      background: red;
      margin: 0 auto;
    }

    #info {
      position: relative;
      bottom: 7px;
      height: 250px;
      width: 285px;
      margin: 0 auto;
      display: block;
      background: teal;

      .info {
        position: space-between;
        height: 30px;
        width: 100%;

        #editPlayer {
        display: inline-flex;
        float: right;
        margin-right: 10px;

        }
      }
    }
  }
}
